[
	{ "id": 0, "type" : "game", "method": "users", "ui" : "admin.users", "title": "Пользователи"},
	{ "id": 1, "type" : "game", "method": "personages", "ui" : "admin.personage", "title": "Персонажи"},
	{ "id": 2, "type" : "game", "method": "clientstyle", "ui" : "admin.bag", "title": "Вещи Персонажей"},
	{ "id": 3, "type" : "game", "method": "clientstyle", "ui" : "admin.clans", "title": "Кланы"},
	{ "id": 4, "type" : "game", "method": "clientstyle", "ui" : "admin.mails", "title": "Почта"},
	{ "id": 5, "type" : "game", "method": "clientstyle", "ui" : "admin.news", "title": "Новости"},
	{ "id": 6, "type" : "game", "method": "registration", "title": "Тест", "modal": "modal", "css": true, "template": true},
	{ "id": 7, "type" : "gamedesign", "method": "artifacts", "ui" : "admin.location_types", "title": "Типы Локаций"},
	{ "id": 8, "type" : "gamedesign", "method": "artifacts", "ui" : "admin.locations", "title": "Локации"},
	{ "id": 9, "type" : "gamedesign", "method": "artifacts", "ui" : "admin.mapeditor", "title": "Редактор карт"},
	{ "id": 10, "type" : "gamedesign", "method": "artifacts", "ui" : "admin.artifact_types", "title": "Типы Артефактов"},
	{ "id": 11, "type" : "gamedesign", "method": "artifacts", "ui" : "admin.artifacts", "title": "Артефакты"},
	{ "id": 12, "type" : "gamedesign", "method": "artifacts", "ui" : "admin.personage_types", "title": "Типы Персонажей"},
	{ "id": 13, "type" : "gamedesign", "method": "clientstyle", "ui" : "admin.npc", "title": "NPC"},
	{ "id": 14, "type" : "gamedesign", "method": "clientstyle", "ui" : "admin.guilds", "title": "Гильдии"},
	{ "id": 15, "type" : "gamedesign", "method": "quests", "ui" : "admin.quests", "title": "Квесты"},
	{ "id": 16, "type" : "gamedesign", "method": "quests", "ui" : "admin.quest_messages", "title": "Сообщения Квестов"},
	{ "id": 17, "type" : "gamedesign", "method": "events", "ui" : "admin.events", "title": "События"},
	{ "id": 18, "type" : "resources", "method": "clientstyle", "ui" : "admin.graphics", "title": "Графика"},
	{ "id": 19, "type" : "resources", "method": "clientstyle", "ui" : "admin.sounds", "title": "Звуковое сопровождение"},
	{ "id": 20, "type" : "resources", "method": "clientstyle", "ui" : "admin.clientstyle", "title": "Клиентские Стили"},
	{ "id": 21, "type" : "development", "method": "clientforms", "ui" : "admin.clientforms", "title": "Клиентские Формы"},
	{ "id": 22, "type" : "development", "method": "clientmethods", "ui" : "admin.clientmethods", "title": "Клиентские Методы"},
	{ "id": 23, "type" : "development", "method": "servermethods", "ui" : "admin.servermethods", "title": "Серверные Методы"}
]
